.midfooter{
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
}

.payment{
    width: 130%;
    /* position: relative; */
    /* top: 0; */
    /* right: 0; */
   margin-top: -40px;
    
    /* margin-bottom: 20px; */

}

#paymentimg{
    margin-top: 20px;
}

.support{
    width: 60%;
    margin-top: 150px;
}
/* 
.paytext{
    margin-bottom: 40px;
} */

.return{
    width: 50%;
    margin-top: 150px;
}

.lorry{
    width: 60%;
    margin-top: 130px;
}

.categries{
    text-align: center;
}

/* #arrowdown{
    margin-top: 200px;
} */

/* .container {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .icon svg {
    width: 20px;
    height: 20px;
    fill: #333;
  } */